<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            margin: 150px 300px;
            color: yellow;
        }
        body{
            background-color: black;
        }
        .first{
            
        }
    </style>
</head>
<body>
    <div>
    <h1>CONDACT DETAILS</h1>
    <h2>Address</h2>
    <p>Delight group of comapnies <br>Anakuzhikara (po) <br> kozhikode <br></p>
    <h2>Phone</h2>
    <p>8590658921 <br> 9746820999 <br> </p>
    <h2>Email</h2>
    <p>delightgroupkozhikode@gmail.com</p>
    </div>
    <div class="first">
    <h2>Instagram</h2>
    <p>Delight_group</p>
    <h2>Facebook</h2>
    <p>Delightindia</p>
    <h2>Twitter</h2>
    <p>Delight group of company</p>
    </div>
</body>
</html>